/* cyrillic-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMRrTEUc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtM1rTEUc.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMVrTEUc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMprTEUc.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMZrTEUc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMdrTEUc.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMlrTA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMRrTEUc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtM1rTEUc.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMVrTEUc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMprTEUc.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMZrTEUc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMdrTEUc.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/sourcecodepro/v30/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMlrTA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/spacemono/v17/i7dPIFZifjKcF5UAWdDRYE58RWq7.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/spacemono/v17/i7dPIFZifjKcF5UAWdDRYE98RWq7.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/spacemono/v17/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Site Main */
.site-main-a0f489038000 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #ffffffFF;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: start;
  padding: 100px 14px 100px 32px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  grid-template-rows: 1fr;
  grid-template-columns: 269px 1099px;
}

/* Project Page 2Col */
.project-pa-a0ff13bbb912 {
  position: relative;
  width: 1094px;
  height: 1136px;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: start;
  gap: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  flex-shrink: 0;
}

/* Right Column */
.right-colu-a106c9587204 {
  position: relative;
  width: 500px;
  height: 858px;
  background: #FFFFFFFF;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

/* Made for Light Grey Art Lab’s “The End is Nigh” Exhibition */
.made-for-l-a1071cc4b2f5 {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
}
.made-for-l-a1071cc4b2f5 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.made-for-l-a1071cc4b2f5 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.made-for-l-a1071cc4b2f5 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.made-for-l-a1071cc4b2f5 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(88, 88, 88, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 12px;
  text-rendering: geometricPrecision;
  caret-color: rgba(88, 88, 88, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 300;
}

/* What comes after the destruction wrought from the apocalypse? One wonders about the terrible beauty of a despoiled world healing after our demise.

In the era of looming climate catastrophe, dialog often revolves around the destruction of the planet. The evidence of radical chang */
.what-comes-a1069e841811 {
  width: 100%;
  height: 475px;
  flex-shrink: 0;
}
.what-comes-a1069e841811 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-3-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-5-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-7-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.what-comes-a1069e841811 .root-0-paragraph-set-0-paragraph-8-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* Procreate
2021 */
.procreate-a10748732f54 {
  width: 100%;
  height: 52px;
  flex-shrink: 0;
}
.procreate-a10748732f54 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.procreate-a10748732f54 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.procreate-a10748732f54 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.procreate-a10748732f54 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(226, 66, 93, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(226, 66, 93, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.procreate-a10748732f54 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.procreate-a10748732f54 .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(226, 66, 93, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(226, 66, 93, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* Healing from the Rider’s Wrath */
.healing-fr-a10a5e38e73e {
  width: 100%;
  height: 42px;
  flex-shrink: 0;
}
.healing-fr-a10a5e38e73e .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.healing-fr-a10a5e38e73e .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.healing-fr-a10a5e38e73e .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.healing-fr-a10a5e38e73e .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
}

/* Left Column */
.left-colum-a104d1c1d9ef {
  position: relative;
  width: 500px;
  height: 858px;
  background: #FFFFFFFF;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 10px;
  row-gap: 11px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

/* A block of some text content blah blah
jsdf yadda yadda yadda 

Lorem Impsum
we need a long runon sentence to try and see how paragraph stuff will work wraparound words yes there we go. 
ljkhsdjfhkjshdkjfs;kdhflskkhdf
lklsjhdfkjshkdjh
kjskjhgdkjf

kjshdfkjhksjhdhkfjhskjdfh
kshjdk */
.a-block-of-a1052b2369da {
  width: 100%;
  height: 438px;
  flex-shrink: 0;
}
.a-block-of-a1052b2369da .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-3-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-5-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-7-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-8-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-9-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-10 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-10-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-11 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-11-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-12 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-block-of-a1052b2369da .root-0-paragraph-set-0-paragraph-12-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* Path */
.path-a105ea0de71e > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.path-a105ea0de71e {
  position: relative;
  width: 438.62px;
  height: 0.01px;
  flex-shrink: 0;
}

/* Title of a thing */
.title-of-a-a105169216c7 {
  width: 100%;
  height: 43px;
  flex-shrink: 0;
}
.title-of-a-a105169216c7 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.title-of-a-a105169216c7 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.title-of-a-a105169216c7 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.title-of-a-a105169216c7 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-a0f660504857 {
  width: 500px;
  height: 500px;
  background: #e15a7cFF;
  border-radius: 0px 0px 0px 0px;
  flex-shrink: 0;
}

/* Menubar */
.menubar-a0fe5be30a63 {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: start;
  column-gap: 26.58px;
  row-gap: 10px;
  padding: 0px 0px 0px 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

/* Project 6 */
.project-6-a1035179c177 {
  width: 222px;
  height: 32px;
  flex-shrink: 0;
}
.project-6-a1035179c177 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.project-6-a1035179c177 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.project-6-a1035179c177 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.project-6-a1035179c177 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* Project 5 */
.project-5-a10ee994a97b {
  width: 222px;
  height: 32px;
  flex-shrink: 0;
}
.project-5-a10ee994a97b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.project-5-a10ee994a97b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.project-5-a10ee994a97b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.project-5-a10ee994a97b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* Project 4 */
.project-4-a10eea0841bd {
  width: 222px;
  height: 32px;
  flex-shrink: 0;
}
.project-4-a10eea0841bd .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.project-4-a10eea0841bd .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.project-4-a10eea0841bd .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.project-4-a10eea0841bd .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* Project 3 */
.project-3-a10eea92d4db {
  width: 222px;
  height: 32px;
  flex-shrink: 0;
}
.project-3-a10eea92d4db .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.project-3-a10eea92d4db .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.project-3-a10eea92d4db .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.project-3-a10eea92d4db .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* Project 2 */
.project-2-a10ee77717d3 {
  width: 222px;
  height: 32px;
  flex-shrink: 0;
}
.project-2-a10ee77717d3 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.project-2-a10ee77717d3 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.project-2-a10ee77717d3 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.project-2-a10ee77717d3 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* Project 1 */
.project-1-a10348bebf01 {
  width: 222px;
  height: 32px;
  flex-shrink: 0;
}
.project-1-a10348bebf01 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.project-1-a10348bebf01 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.project-1-a10348bebf01 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.project-1-a10348bebf01 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

/* CASEY HUNT
 */
.c-a-s-e-y-h-u-n-t-a102c8684cee {
  width: 260px;
  height: 47px;
  flex-shrink: 0;
}
.c-a-s-e-y-h-u-n-t-a102c8684cee .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.c-a-s-e-y-h-u-n-t-a102c8684cee .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.c-a-s-e-y-h-u-n-t-a102c8684cee .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.c-a-s-e-y-h-u-n-t-a102c8684cee .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
}
.c-a-s-e-y-h-u-n-t-a102c8684cee .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.c-a-s-e-y-h-u-n-t-a102c8684cee .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
}