---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";

//import { getCollection, getEntry, render } from "astro:content";
import PageLayout from "../layouts/Page.astro";

export async function getStaticPaths() {
    const pages = await getCollection("page");
    return pages.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}
type Props = CollectionEntry<"page">;
const { Content } = await render(post);
---

<PageLayout title={title}>
    {entry ? <component this={Content} /> : <p>Page aint found.</p>}
</PageLayout>
