---
//import BaseHead from "../components/BaseHead.astro";
import "../styles/penpot-sitemain.css";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <!-- this is a direct hard link to the public css, as to get astro scope is more complicated -->
    <link rel="stylesheet" href="/css/penpot.css" />
  </head>
  <!-- Just want some comments -->
  <body>
    <!-- frame: Site Main -->
    <div class="frame site-main-a0f489038000">
      <!-- frame: Menubar -->
      <div class="frame menubar-a0fe5be30a63">
        <!-- text: CASEY HUNT
    -->
        <div class="shape text c-a-s-e-y-h-u-n-t-a102c8684cee">
          <div
            class="text-node-html"
            id="html-text-node-a5fb7583-44f6-807b-8006-a102c8684cee"
            data-x="14"
            data-y="259"
          >
            <div class="root rich-text root-0">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p
                  class="paragraph root-0-paragraph-set-0-paragraph-0"
                  dir="ltr"
                >
                  <span
                    class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >CASEY HUNT</span
                  >
                </p>
                <p
                  class="paragraph root-0-paragraph-set-0-paragraph-1"
                  dir="ltr"
                >
                  <span
                    class="text-node root-0-paragraph-set-0-paragraph-1-text-0"
                  >
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- text: Project 1 -->
        <div class="shape text project-1-a10348bebf01">
          <div
            class="text-node-html"
            id="html-text-node-a5fb7583-44f6-807b-8006-a10348bebf01"
            data-x="14"
            data-y="316"
          >
            <div class="root rich-text root-0">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p
                  class="paragraph root-0-paragraph-set-0-paragraph-0"
                  dir="ltr"
                >
                  <span
                    class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Project 1</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- text: Project 2 -->
        <div class="shape text project-2-a10ee77717d3">
          <div
            class="text-node-html"
            id="html-text-node-a0d750af-0550-8019-8006-a10ee77717d3"
            data-x="14"
            data-y="358"
          >
            <div class="root rich-text root-0">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p
                  class="paragraph root-0-paragraph-set-0-paragraph-0"
                  dir="ltr"
                >
                  <span
                    class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Project 2</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- text: Project 3 -->
        <div class="shape text project-3-a10eea92d4db">
          <div
            class="text-node-html"
            id="html-text-node-a0d750af-0550-8019-8006-a10eea92d4db"
            data-x="14"
            data-y="400"
          >
            <div class="root rich-text root-0">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p
                  class="paragraph root-0-paragraph-set-0-paragraph-0"
                  dir="ltr"
                >
                  <span
                    class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Project 3</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- text: Project 4 -->
        <div class="shape text project-4-a10eea0841bd">
          <div
            class="text-node-html"
            id="html-text-node-a0d750af-0550-8019-8006-a10eea0841bd"
            data-x="14"
            data-y="442"
          >
            <div class="root rich-text root-0">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p
                  class="paragraph root-0-paragraph-set-0-paragraph-0"
                  dir="ltr"
                >
                  <span
                    class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Project 4</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- text: Project 5 -->
        <div class="shape text project-5-a10ee994a97b">
          <div
            class="text-node-html"
            id="html-text-node-a0d750af-0550-8019-8006-a10ee994a97b"
            data-x="14"
            data-y="484.0000000000002"
          >
            <div class="root rich-text root-0">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p
                  class="paragraph root-0-paragraph-set-0-paragraph-0"
                  dir="ltr"
                >
                  <span
                    class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Project 5</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- text: Project 6 -->
        <div class="shape text project-6-a1035179c177">
          <div
            class="text-node-html"
            id="html-text-node-a5fb7583-44f6-807b-8006-a1035179c177"
            data-x="14"
            data-y="526.0000000000002"
          >
            <div class="root rich-text root-0">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p
                  class="paragraph root-0-paragraph-set-0-paragraph-0"
                  dir="ltr"
                >
                  <span
                    class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Project 6</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- frame: Project Page 2Col -->
      <div class="frame project-pa-a0ff13bbb912">
        <!-- frame: Left Column -->
        <div class="frame left-colum-a104d1c1d9ef">
          <!-- rect: Rectangle -->
          <div class="shape rect rectangle-a0f660504857"></div>
          <!-- text: Title of a thing -->
          <div class="shape text title-of-a-a105169216c7">
            <div
              class="text-node-html"
              id="html-text-node-a5fb7583-44f6-807b-8006-a105169216c7"
              data-x="274"
              data-y="770"
            >
              <div class="root rich-text root-0">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-0"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                      >Title of a thing</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- path: Path -->
          <div class="shape path path-a105ea0de71e">
            <svg
              width="448.623"
              xmlns="http://www.w3.org/2000/svg"
              height="10.01"
              id="screenshot-a5fb7583-44f6-807b-8006-a105ea0de71e"
              viewBox="269 819 448.623 10.01"
              style="-webkit-print-color-adjust::exact"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="none"
              version="1.1"
            >
              <g id="shape-a5fb7583-44f6-807b-8006-a105ea0de71e">
                <defs></defs>
                <g
                  class="fills"
                  id="fills-a5fb7583-44f6-807b-8006-a105ea0de71e"
                >
                  <path d="M274,824L712.622802734375,824L712.622802734375,824"
                  ></path>
                </g>
                <g
                  id="strokes-a0d750af-0550-8019-8006-a117c429f25f-a5fb7583-44f6-807b-8006-a105ea0de71e"
                  class="strokes"
                >
                  <g class="stroke-shape">
                    <defs></defs>
                    <path
                      d="M274,824L712.622802734375,824L712.622802734375,824"
                      style="fill:none;fill-opacity:none;stroke-width:2;stroke:#000000;stroke-opacity:1"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <!-- text: A block of some text content blah blah
    jsdf yadda yadda yadda 

    Lorem Impsum
    we need a long runon sentence to try and see how paragraph stuff will work wraparound words yes there we go. 
    ljkhsdjfhkjshdkjfs;kdhflskkhdf
    lklsjhdfkjshkdjh
    kjskjhgdkjf

    kjshdfkjhksjhdhkfjhskjdfh
    kshjdk -->
          <div class="shape text a-block-of-a1052b2369da">
            <div
              class="text-node-html"
              id="html-text-node-a5fb7583-44f6-807b-8006-a1052b2369da"
              data-x="274"
              data-y="835.0100000000002"
            >
              <div class="root rich-text root-0">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-0"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                      >A block of some text content blah blah</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-1"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-1-text-0"
                      >jsdf yadda yadda yadda
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-2"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-2-text-0"
                    >
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-3"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-3-text-0"
                      >Lorem Impsum</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-4"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-4-text-0"
                      >we need a long runon sentence to try and see how
                      paragraph stuff will work wraparound words yes there we
                      go.
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-5"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-5-text-0"
                      >ljkhsdjfhkjshdkjfs;kdhflskkhdf</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-6"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-6-text-0"
                      >lklsjhdfkjshkdjh</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-7"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-7-text-0"
                      >kjskjhgdkjf</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-8"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-8-text-0"
                    >
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-9"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-9-text-0"
                      >kjshdfkjhksjhdhkfjhskjdfh</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-10"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-10-text-0"
                      >kshjdkfjhskjdhfkjshkdjfhksjdfh</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-11"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-11-text-0"
                    >
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-12"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-12-text-0"
                      >and maybe thats about the end of it.</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- frame: Right Column -->
        <div class="frame right-colu-a106c9587204">
          <!-- text: Healing from the Rider’s Wrath -->
          <div class="shape text healing-fr-a10a5e38e73e">
            <div
              class="text-node-html"
              id="html-text-node-a0d750af-0550-8019-8006-a10a5e38e73e"
              data-x="814"
              data-y="259"
            >
              <div class="root rich-text root-0">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-0"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                      >Healing from the Rider’s Wrath</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- text: Procreate
    2021 -->
          <div class="shape text procreate-a10748732f54">
            <div
              class="text-node-html"
              id="html-text-node-a5fb7583-44f6-807b-8006-a10748732f54"
              data-x="814"
              data-y="301"
            >
              <div class="root rich-text root-0">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-0"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                      >Procreate</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-1"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-1-text-0"
                      >2021</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- text: What comes after the destruction wrought from the apocalypse? One wonders about the terrible beauty of a despoiled world healing after our demise.

    In the era of looming climate catastrophe, dialog often revolves around the destruction of the planet. The evidence of radical chang -->
          <div class="shape text what-comes-a1069e841811">
            <div
              class="text-node-html"
              id="html-text-node-a5fb7583-44f6-807b-8006-a1069e841811"
              data-x="814"
              data-y="353"
            >
              <div class="root rich-text root-0">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-0"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                      >What comes after the destruction wrought from the
                      apocalypse? One wonders about the terrible beauty of a
                      despoiled world healing after our demise.</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-1"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-1-text-0"
                    >
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-2"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-2-text-0"
                      >In the era of looming climate catastrophe, dialog often
                      revolves around the destruction of the planet. The
                      evidence of radical change is all around us; and from our
                      perspective, nature is raging. Though is it not a hubris
                      of human civilization to think that we could truly kill
                      this world?</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-3"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-3-text-0"
                    >
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-4"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-4-text-0"
                      >While we are agents of planetary change, the ‘destruction
                      of the planet’ is likely to be only a species wide
                      suicide. The end of the world as we know it will be a
                      flourishing of life that once struggled to survive amid
                      our dominant reign.</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-5"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-5-text-0"
                    >
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-6"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-6-text-0"
                      >While the origins of the well known Four Horsemen of the
                      Apocalypse come from the Christian tradition, they exist
                      in pop consciousness simply as a symbol for the end of the
                      world. In such a post human context, what place is there
                      for personified allegorical figures?</span
                    >
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-7"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-7-text-0"
                    >
                    </span>
                  </p>
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-8"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-8-text-0"
                      >The horses of doom will be released from their dreadful
                      bondage, and return to a state of wild harmony with the
                      abundance of life that will surely flourish amid the
                      scattered and disintegrating remains of humanity.</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- text: Made for Light Grey Art Lab’s “The End is Nigh” Exhibition -->
          <div class="shape text made-for-l-a1071cc4b2f5">
            <div
              class="text-node-html"
              id="html-text-node-a5fb7583-44f6-807b-8006-a1071cc4b2f5"
              data-x="814"
              data-y="828"
            >
              <div class="root rich-text root-0">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p
                    class="paragraph root-0-paragraph-set-0-paragraph-0"
                    dir="ltr"
                  >
                    <span
                      class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                      >Made for Light Grey Art Lab’s “The End is Nigh”
                      Exhibition</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <slot />
    <!-- Astro will inject page content here -->
  </body>
</html>
